{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Base Page{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel ="stylesheet" href="{% static 'intentions/bootstrap-social.css' %}">
    <style>
        .asteriskField {
            display: none;
        }
    </style>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-3" href="{% url 'intentions:dashboard' %}">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
                Intentions
        </a>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse my-0 justify-content-end mr-3">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
                </div>
            </div>
        {% else %}
            <div class="collapse navbar-collapse my-0 justify-content-end mr-3">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                </div>
            </div>
        {% endif %}
    </nav>
    <main class="">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer mt-auto footer-copyright text-center card-footer bg-light footer-font-style text-muted">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item mx-3">
                <a class="btn btn-social-icon btn-github" href="https://github.com/gabecm" target="_blank">
                    <span class="fa fa-github"></span>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/gabriel-mallari/" target="_blank">
                    <span class="fa fa-linkedin"></span>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a class="btn btn-social-icon btn-google" href="mailto:gabecmoitproject@gmail.com" target="_blank">
                    <span class="fa fa-google"></span>
                </a>
            </li>
        </ul>
        © Copyright 2021: Intentions
    </footer>

    {# Bootstrap Scripts #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {# Fontawesome Script #}
    <script src="https://kit.fontawesome.com/8e15fae9ea.js" crossorigin="anonymous"></script>
</body>
</html>