<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Base Page{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .asteriskField {
            display: none;
        }
    </style>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-3" href="{% url 'intentions:dashboard' %}">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
                Intentions
        </a>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse my-0 justify-content-end mr-3">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
                </div>
            </div>
        {% else %}
            <div class="collapse navbar-collapse my-0 justify-content-end mr-3">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                </div>
            </div>
        {% endif %}
    </nav>
    <main class="">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer mt-auto footer-copyright text-center py-3 card-footer bg-light footer-font-style text-muted">
        © Copyright 2021: Gabriel Mallari
    </footer>

    {# Bootstrap Scripts #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>