{% extends 'intentions/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container mt-3">
            <h2 class="row">Hello, {{user.first_name}}!</h2>
            <h2 class="row">You have made 10 entries</h2>
            <div class="row mt-3">
                <div class="col mr-5">
                    <div class="row card">
                        <h6 class="card-header">
                            Recent Entries
                        </h6>
                          <ul class="list-group list-group-flush">
                              {% for entry in entries %}
                                   <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ entry.title }}
                                    <span>{{ entry.date }}</span>
                                </li>
                              {% endfor %}
                          </ul>
                    </div>
                    <div class="row">
                        <a type="button" class="mt-3 p-3 col btn btn-light" href="#">View Older Entries</a>
                    </div>
                </div>
                <div class="col ml-5">
                    <div class="row card">
                        <h6 class="card-header">
                            Prompt of the Day
                        </h6>
                        <div class="card-body">
                            <p class="card-text">What was your favorite childhood memory?</p>
                        </div>
                    </div>
                    <div class="row">
                        <a type="button" class="mt-3 p-3 col btn btn-dark" href="#">Add a New Entry</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>