{% extends 'intentions/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Entries Page{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container my-3">
            <h2>{{ user.first_name }}'s Entries</h2>
            <form class="my-3 form-inline" action="{% url 'intentions:entries' %}" method="get">
                {% csrf_token %}
                <div class="form-group mr-2">
                    <input class="form-control mr-sm-2" type="text" name="title" placeholder="Search..." value={{ query }}>
                    <button class="btn btn-purple my-2 my-sm-0 text-white" type="submit">Submit</button>
                </div>
                <div class="form-group border pl-2 mx-2">
                    Sort By:
                    <select class="custom-select ml-2 border-left border-top-0 border-right-0 border-bottom-0" name="sort" onchange="form.submit()">
                        <option value="-date" {% if sort == 'name' or sort == '' %}selected{% endif %}>Most Recent</option>
                        <option value="date" {% if sort == 'date' %}selected{% endif %}>Date Created</option>
                        <option value="prompt__prompt_text" {% if sort == 'prompt__prompt_text' %}selected{% endif %}>Alphabetical</option>
                    </select>
                </div>
                <div class="form-group border pl-2 mx-2">
                    Filter:
                    <select class="custom-select ml-2 border-left border-top-0 border-right-0 border-bottom-0" name="filter" onchange="form.submit()">
                        <option value="all" {% if filter == 'all' or filter == '' %}selected{% endif %}>All Time</option>
                        <option value="week" {% if filter == 'week'%}selected{% endif %}>This Week</option>
                        <option value="month" {% if filter == 'date' %}selected{% endif %}>This Month</option>
                        <option value="year" {% if filter == 'year' %}selected{% endif %}>This Year</option>
                    </select>
                </div>
            </form>
            {% if entries %}
                <div class="list-group">
                    {% for entry in entries %}
                        <a href="{% url 'intentions:entry' entry.id %}" class="list-group-item list-group-item-action justify-content-between d-flex">
                            {{ entry.prompt }}
                            <div>{{ entry.date }}</div>
                        </a>
            {% endfor %}
        </div>
        {% endif %}
        </div>
    {% endblock %}
</body>
</html>