{% extends 'intentions/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Daily Entry{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container my-3">
            <h2>Today's Entry</h2>
            <form method="post" class="container-fluid">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-purple text-white px-3" value="Save">
            </form>
        </div>
    {% endblock %}
</body>
</html>