{% extends 'intentions/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Entries Page{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container my-3">
            <h4>{{ user.first_name }}'s Entries</h4>
            {% if entries %}
                <div class="list-group">
                    {% for entry in entries %}
{#            <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>#}
                        <a href="#" class="list-group-item list-group-item-action justify-content-between d-flex">
                            {{ entry.prompt }}
                            <div>{{ entry.date }}</div>
                        </a>
            {% endfor %}
        </div>
        {% endif %}
        </div>
    {% endblock %}
</body>
</html>