{% extends 'intentions/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container my-3">
        {#        Add Jumbotron later#}
            <h5>You are not logged in</h5>
            <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            <a class="btn btn-secondary" href="{% url 'intentions:signup' %}">Sign Up</a>
        </div>
    {% endblock %}
</body>
</html>