{% extends 'intentions/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container my-3">
            <div class="jumbotron purple">
              <h1 class="display-4 text-white">Welcome to your next journaling app!</h1>
              <p class="lead text-white">Intentions is an online journaling app focused on self-reflection</p>
              <hr class="my-4">
              <p class="text-white">You're able to write daily entries about your mood, respond to thought provoking
                  prompts, and much more!</p>
              <p class="lead text-white">
                  <a class="btn btn-pink btn-lg text-white" href="{% url 'intentions:signup' %}" role="sign-up">Sign Up</a>
              </p>
            </div>
        </div>
    {% endblock %}
</body>
</html>